# Dependency directories
node_modules/

# next.js build output
.next
**/.next

# repository metadata
.git

# typescript build output
dist
.env

# pwa
sw.js
sw.js.*
workbox-*.js
workbox-*.js.*
pages/debug.tsx
/temp

pages/dev

patch/dist
tmp
out
release.zip

run
